<?xml version="1.0"?>
<robot name="ceiling" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:property name="PI" value="3.1415926535897931" />

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find ceiling_arm_description)/urdf/ceiling_base.urdf.xacro" />

	<link name="world">
	</link>

	<xacro:ceiling_base prefix="test_" parent="world">
		<origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
	</xacro:ceiling_base>

	<xacro:ros_control />

</robot>