<?xml version="1.0"?>
<robot name="ceiling_robot" xmlns:xacro="http://wiki.ros.org/xacro">
	
	<xacro:arg name="prefix" default="" />
	<xacro:arg name="hardware_interface" default="PositionJointInterface"/>

	<xacro:property name="PI" value="3.1415926535897931" />
    <xacro:property name="robot_position_x" value="0"/>
    <xacro:property name="robot_position_y" value="0"/>
    <xacro:property name="robot_position_z" value="0"/>
    <xacro:property name="robot_orientation_r" value="0"/>
    <xacro:property name="robot_orientation_p" value="0"/>
    <xacro:property name="robot_orientation_y" value="0"/>

	<xacro:include filename="$(find ceiling_arm_description)/urdf/ceiling_base.urdf.xacro" />

	<xacro:include filename="$(find ur_description)/urdf/inc/ur10_macro.xacro" />

	<xacro:include filename="$(find robotnik_sensors)/urdf/utils/inertia.urdf.xacro" />
	<xacro:include filename="$(find robotnik_sensors)/urdf/utils/material.urdf.xacro" />
	<xacro:include filename="$(find robotnik_sensors)/urdf/intel_d435.urdf.xacro" />

	<xacro:include filename="$(find hook_gripper_gazebo)/urdf/hook_gripper.urdf.xacro" />

	<link name="world">
	</link>

	<xacro:ceiling_base prefix="$(arg prefix)" parent="world" hardware_interface="$(arg hardware_interface)" >
		<origin xyz="${robot_position_x} ${robot_position_y} ${robot_position_z}" rpy="${robot_orientation_r} ${robot_orientation_p} ${robot_orientation_y}"/>		
	</xacro:ceiling_base>

	<xacro:ur10_robot prefix="$(arg prefix)arm_" transmission_hw_interface="hardware_interface/$(arg hardware_interface)">
	</xacro:ur10_robot>

	<joint name="arm_base_joint" type="fixed">
		<origin xyz="0 0 0" rpy="${PI} 0 0"/>
		<parent link="connector_link" />
		<child link="arm_base_link" />
	</joint>

	<!-- connect intel rs camera  eye-in-hand -->
	<xacro:sensor_intel_d435 prefix="$(arg prefix)rs_arm" parent="$(arg prefix)arm_tool0" prefix_topic="arm_rgbd_camera" >
		<origin xyz="0.06 0 -0.03" rpy="0 -1.7 0"/>
	</xacro:sensor_intel_d435>

	<!-- connect The Hook gripper -->
	<!-- attention! check for prefix. Tested well only with empty prefix -->
	<xacro:hook_gripper prefix="" parent="arm_wrist_3_link" obj="box" obj_link="box1">
		<origin xyz="0 0 0" rpy="0 0 1.57"/>
	</xacro:hook_gripper>

	<xacro:ros_control />

</robot>