<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include> -->

    
    <!-- <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model ceiling" respawn="false" output="screen" /> -->


    <param name="robot_description" command="$(find xacro)/xacro '$(find ceiling_arm_description)/robots/ceiling_base_arm.urdf.xacro'" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ceiling_arm_description)/rviz/config.rviz"/>
  

</launch>